html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  max-width: 19em;
  transform: rotate(-7deg);
  text-shadow: 1px 1px rgba(150, 150, 150, .3);
}

p {
  color: #c09;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
  max-width: 19em;
  transform: rotate(-5deg);
  transform-origin: left center;
}

.banner {
  background: repeating-linear-gradient(-30deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
  border-top: 7px solid #b3fbff;
  border-bottom: 7px solid #b3fbff;
  min-height: 500px;
}

.banner-content {
  opacity: 0;
  transform-origin: left center;
  animation: blur .5s 600ms linear forwards;
}

.btn-ghost {
  border-color: #990073;
  color: #c09;
  text-shadow: 1px 1px 1px #c9fcff;
}

.btn-ghost:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, .15);
  color: #c09;
}

img {
  width: 175px;
  top: -5em;
}

.cherry {
  width: 140px;
  right: 90px;
  bottom: 500px;
  z-index: 5;
  animation: cherry 700ms linear forwards;
}

.vanilla-fudge {
  width: 140px;
  right: 90px;
  bottom: 800px;
  z-index: 4;
  animation: fudge 600ms linear forwards;
}

.chocolate-chip {
  width: 140px;
  right: 80px;
  bottom: 700px;
  z-index: 3;
  animation: chocolate-chip 500ms linear forwards;
}

.mint-chip {
  width: 140px;
  right: 90px;
  bottom: 600px;
  z-index: 1;
  animation: mint-chip 400ms linear forwards;
}

.cone {
  width: 140px;
  right: 90px;
  z-index: 2;
  animation: cone 300ms linear forwards;
}

@keyframes blur {

  0% {
    opacity: 0;
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes cherry {

  0% {
    top: -1400px;
  }

  100% {
    top: -40px;
  }

}

@keyframes fudge {

  0% {
    top: -1300px;
  }

  100% {
    top: 30px;
  }

}

@keyframes chocolate-chip {

  0% {
    top: -1400px;
  }

  100% {
    top: 100px;
  }

}

@keyframes mint-chip {

  0% {
    top: -1500px;
  }

  100% {
    top: 185px;
  }

}

@keyframes cone {

  0% {
    top: -1600px;
  }

  100% {
    top: 285px;
  }

}
